<div class="clearfix" *ngIf="message && !deleted" let editMode>
    <a href="#" class="photo float-left">
        <img *ngIf="user?.PERSONAL_PHOTO" [src]="user?.PERSONAL_PHOTO" [alt]="user.username()" width="40">
        <span *ngIf="!user?.PERSONAL_PHOTO" class="fa fa-user-circle"></span>
    </a>

    <div *ngIf="!editMode">
        <button class="dropdown float-right" *ngIf="user?.ID == currentUser?.ID">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <span class="dropdown-menu">
               <ul class="no-bullet">
                   <li><span class="under-line" (click)="editMode=true">Редактировать</span></li>
                   <li><span class="under-line alert" (click)="delete()">Удалить</span></li>
               </ul>
            </span>
        </button>

        <div class="overflow-hidden message-block">
            <a href="user/{{message.AUTHOR_ID}}" class="user">{{message.AUTHOR_NAME}}</a>
            <!--<div class="html">{{message.POST_MESSAGE_HTML}}</div>-->
            <div class="text">{{message.POST_MESSAGE}}</div>
            <div class="date">{{message.POST_DATE| dateFormat}}</div>
        </div>
    </div>

    <div *ngIf="editMode" class="overflow-hidden message-edit">
        <form-messages [message]="message" [taskID]="taskID" (onSubmit)="editMode=false"></form-messages>
    </div>
</div>